*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'poppins', sans-serif; }

body {
  box-sizing: border-box;
  position: relative; }

.primary-heading {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 2px; }

.paragraph {
  text-align: center;
  font-size: 1.6rem;
  width: 80%;
  font-weight: 200;
  line-height: 140%; }
  .paragraph-main {
    font-size: 2.2rem;
    width: 45%;
    text-align: center;
    font-weight: 300; }
  .paragraph-other {
    font-size: 1.8rem;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    font-weight: 200; }

.secondary-heading {
  font-size: 3.2rem;
  margin-top: 5rem;
  text-align: center;
  letter-spacing: 1px; }
  .secondary-heading::after {
    content: "";
    background-color: orange;
    width: 7rem;
    height: .8rem;
    margin: 2rem auto;
    display: block;
    border-radius: 1rem; }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 300; }

.heading-quarternary {
  font-size: 2.3rem;
  font-weight: 300; }

.color-white {
  color: white; }

.highlighted-text {
  font-size: 1.6rem;
  display: inline-block;
  padding: 2px 6px;
  background-color: gray;
  border-radius: 3px; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-center-text {
  text-align: center !important; }

.u-row {
  max-width: 114rem;
  margin: 0 auto; }

.u-justify-text {
  text-align: justify; }

.u-font-bold {
  font-weight: 400; }

.u-bold-text {
  font-size: 3.2rem;
  font-weight: 500; }

.header::before {
  display: block;
  content: "";
  width: 100%;
  background-color: orange;
  height: .4rem;
  z-index: 10;
  position: fixed;
  top: 0;
  z-index: 100; }

.header__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 17rem;
  background-image: linear-gradient(#ffb347, #ffcc33); }

.icon-small {
  display: inline-block;
  font-size: 3rem;
  margin-left: 1rem;
  display: inline-block; }
  .icon-small-stack {
    color: orange; }
  .icon-small-burger {
    font-size: 2rem; }

.nav {
  width: 100%;
  position: fixed;
  top: 4px;
  z-index: 10;
  background-color: #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .nav__list {
    font-size: 1.6rem;
    display: flex; }
    .nav__list__list-items {
      list-style: none;
      margin-left: 1rem; }
      .nav__list__list-items__links {
        display: inline-block;
        padding: .5rem 1rem;
        border-radius: 1.5rem;
        text-decoration: none;
        color: #333;
        font-size: 1.4rem; }
        .nav__list__list-items__links:hover {
          background-color: #ccc; }
  .nav__search {
    padding: .5rem 1rem;
    width: 50%; }
    .nav__search-input {
      border: 1px solid transparent;
      width: 100%;
      padding: 1rem 1.5rem;
      border-radius: 1rem; }
      .nav__search-input:focus {
        outline: none;
        border: 1px solid orange; }
  .nav__logo-box {
    display: flex;
    align-items: center; }
    .nav__logo-box--text {
      display: inline-block;
      font-size: 1.6rem;
      margin-left: .4rem; }

.btn {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 1.3rem;
  border: 1px solid gray;
  border-radius: .5rem;
  transition: all .5s;
  display: inline-block; }
  .btn-gray {
    margin-right: .5rem;
    display: inline-block;
    background-color: #b3d3ea; }
    .btn-gray:hover {
      background-color: #a4c0d4; }
  .btn-blue {
    background-color: #0095fa; }
    .btn-blue:hover {
      background-color: #007ccf; }
  .btn-white {
    background-color: #eee;
    color: #f48024;
    border: 1px solid #f48024; }
    .btn-white:hover {
      background-color: #ccc; }
  .btn-orange {
    color: #fff;
    background-color: #f48024; }
    .btn-orange:hover {
      background-color: #e47922; }
  .btn-blue-dark {
    color: #fff;
    background-color: #2b2d6e; }
    .btn-blue-dark:hover {
      background-color: #25275f; }

.section-developer {
  padding: 5rem; }

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.card {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8rem 2rem;
  margin: 1rem;
  border-radius: .5rem;
  transition: all .3s;
  margin-left: 3rem; }
  .card:hover {
    box-shadow: inset 0px 0px 0.6rem 0.3rem rgba(0, 0, 0, 0.2); }

.card-2 {
  position: relative;
  top: -5rem; }

.section-business {
  background-color: #f8f8f8;
  padding: 10rem; }

.cards-business {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .cards-business .paragraph {
    text-align: left; }

.card-business {
  width: 33%;
  height: auto;
  padding: 3.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 4rem; }
  .card-business-image {
    width: 8rem; }

.section-schemes {
  padding: 5rem;
  background-color: #2b2d6e; }
  .section-schemes__header-box {
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.cards-schemes {
  margin-top: 4rem;
  display: flex;
  text-align: center;
  justify-content: center; }

.card-scheme {
  border-radius: 9px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.6);
  width: 33%;
  background-color: #fff;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem; }
  .card-scheme__list {
    list-style: none;
    border-top: 1px solid #999;
    padding-top: 30px; }
    .card-scheme__list-items {
      font-size: 1.6rem;
      text-align: start; }
      .card-scheme__list-items:not(:last-child) {
        margin-bottom: 1.2rem; }

.section-hiring {
  background-color: #f7f6f9;
  padding: 10rem 12rem; }
  .section-hiring-container {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    .section-hiring-container-1, .section-hiring-container-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      .section-hiring-container-1 > p, .section-hiring-container-1 > h2, .section-hiring-container-2 > p, .section-hiring-container-2 > h2 {
        margin-bottom: 2rem;
        font-weight: 400; }
      .section-hiring-container-1 > h2, .section-hiring-container-2 > h2 {
        font-weight: 600; }
    .section-hiring-container-1 {
      margin: 0 4rem; }
    .section-hiring-container-image {
      width: 7rem; }

.section-learning {
  padding: 6rem; }

.learning-cards {
  display: flex;
  justify-content: space-evenly; }

.learning-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.section-jobs {
  background-color: #e1ecf4;
  padding: 10rem 7rem; }
  .section-jobs h3 {
    margin-left: 2.3rem;
    font-weight: 400;
    font-size: 2.8rem; }

.job-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem; }
  .job-cards a {
    margin-left: 1.5rem; }

.job-card {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem; }
  .job-card p {
    margin-left: 1rem;
    text-align: justify;
    font-weight: 300; }

.footer {
  padding: 6rem 10rem;
  background-color: #333; }
  .footer__list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .footer .list {
    list-style: none; }
    .footer .list h4 {
      cursor: pointer;
      color: #fff;
      margin-bottom: 3rem;
      font-weight: 200;
      font-size: 1.8rem;
      transition: color .2s; }
      .footer .list h4:hover {
        color: #ddd; }
    .footer .list-items {
      margin-bottom: 1rem;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
      transition: color .2s; }
      .footer .list-items:hover {
        color: #ddd; }

.list-nav {
  display: flex;
  list-style: none; }
  .list-nav > li {
    font-size: .6rem;
    margin-left: 1rem; }
